/** {
	margin: 0;
	padding: 0;
}*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 825px;
  height: 700px;
  margin: 0 auto;
  background-color: lightgray;
}
#container {
	height: 600px;
	width: 825px;
	border: 2px solid black;
}
#content {
	width: 600px;
	height: 600px;
	display: inline-block;
	vertical-align: top;
}
#collage {
	height: 300px;
	display: block;
}
.image {
	height: 150px;
	width: 150px;
	background-color: green;
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: top;
}
#action_plan_tasks {
	height: 150px;
	background-color: yellow;
	display: block;
/*	padding: 10px;
*/}
h3 {
	margin-top: 0;
}
#upcoming_reminders {
	height: 150px;
	background-color: pink;
	vertical-align: top;
}

/* View Contact */
#contact_collage {
	height: 300px;
	width: 300px;
	background-color: black;
	display: inline-block;
	vertical-align: top;
}
img.contact_image {
	height: 300px;
	width: 300px;
}
#contact_info {
	height: 260px;
	width: 260px;
	padding: 20px;
	background-color: lightblue;
	display: inline-block;
	vertical-align: top;
}
p.contact_table {
	padding: 0;
	margin: 0;
}
img.icon {
	display: inline;
	height: 25px;
	width: 25px;
}
#action_plans {	
	background-color: lightyellow;
	height: 100px;
	display: block;
	overflow-y: auto;
}
.action_plan {
	background-color: orange;
	height: 50px;
	width: 125px;
	display: inline-block;
}
#notes_docs {
	height: 200px;
	background-color: pink;
	outline: 1px solid red;
	vertical-align: top;
}
.button {
	color: white;
	border: none;
	border-radius: 3px;
}
.green {
	background-color: green;
}
.red {
	background-color: red;
}

/* Edit Contact */
.inline {
	width: 65px;
	display: inline-block;
}
input.city {
	width: 75px;
}
input.state {
	width: 50px;
}
/* Add Contact */
#new_contact {
	padding: 20px;
	background-color: lightblue;
	outline: 1px solid red;
}
input.add {
	display: block;
}

/* Contacts side bar */
#contacts {
	width: 215px;
	height: 600px;
	padding-left: 10px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
}
h4.contacts {
	display: inline-block;
	width: 100px;
	margin-top: 0;
}
h1.letter {
	background-color: black;
	width: 30px;
	height: 30px;
	margin: 3px;
	border-radius: 3px;
	text-align: center;
	color: white;
}
.search {
	margin: 0 0 5px 15px;
	width: 125px;
	vertical-align: top;
}
h1.add {
	display: inline-block;
}
a.contact_list {
	display: block;
	padding: 3px;
	color: blue;
}
img {
	height: 50px;
	width: 50px;
	display: inline-block;
	vertical-align: top;
}
p.contact_list {
	padding: 10px 0 0 5px;
	display: inline-block;
	margin: 0;
	vertical-align: top;
	font-style: bold;
}