        <div id="contact_collage">
        </div><!-- Comment to remove space
     --><div id="contact_info">
          <h2>Contact Info</h2>
          <h3>Katrina Sanford</h3>
          <h4>Info: ...</h4>
          <p>Phone: 70251806942</p>
          <p>Address: 4600 Davis Ave S Apt B103</p>
          <h4>Social Media Links:</p>
          <h4>Groups:</h4>
        </div><!-- Comment to remove space
     --><div id="action_plans">
          <h3>Action Plan Tasks (The Que)</h3>
          <input type="checkbox">Katrina's Birthday
        </div>
        <div id="notes_docs">
          <h3>Upcomming Reminders</h3>
          <input type="checkbox">Patrick's Birthday <span class="alert">4 days</span>
        </div>