        <div ng-controller="EditContact">

        <div id="contact_collage">
          <img class="contact_image" ng-src="{{contact.picture}}">
        </div><!-- Comment to remove space
     --><div id="contact_info">
     <button ng-click="removeContact(contact._id)" class="button red">Delete</button>
          <form ng-submit="editContact(contact._id)">
          <h2 class="inline" ng-bind="contact.first_name+' '+contact.last_name"></h2>
          <input class="inline" type="text" ng-model="edit_contact.first_name">
          <input class="inline" type="text" ng-model="edit_contact.last_name">
          <table>
            <tr>
              <td>Phone: </td>
              <td ng-bind="contact.phone"></td>
              <td><input type="text" ng-model="edit_contact.phone"></td>
            </tr>
              <td>Address: </td>
              <td>
                <p class="contact_table" ng-bind="contact.address.street">
                <p class="contact_table" ng-bind="contact.address.city+', '+contact.address.state">
              </td>
              <td>
                <input type="text" ng-model="edit_contact.address.street">
                <input class="inline city" type="text" ng-model="edit_contact.address.city">
                <input  class="inline state" type="text" ng-model="edit_contact.address.state">
              </td>
          </table>
          <a href="#"><img class="icon" src="/images/Facebook-icon.png"></a>
          <img class="icon" src="/images/Twitter-icon.png">
          <img class="icon" src="/images/Instagram-icon.png">
          <img class="icon" src="/images/LinkedIn-icon.png">
          <img class="icon" src="/images/YouTube-icon.png">
          <img class="icon" src="/images/GooglePlus-icon.png">
          <h4>Groups:</h4>
          <img class="icon" src="/images/Facebook-icon.png">
          <img class="icon" src="/images/Twitter-icon.png">
          <img class="icon" src="/images/Instagram-icon.png">
          <img class="icon" src="/images/LinkedIn-icon.png">
          <img class="icon" src="/images/YouTube-icon.png">
          <img class="icon" src="/images/GooglePlus-icon.png">
          <p>
            <input class="button green" type="submit" value="Submit Changes!">
            <!-- <input type="hidden" ng-model="edit_contact._id" value="{{contact._id}}"> -->
            <!-- Need to create link to delete contact -->
          </p>
          </form>
        </div><!-- Comment to remove space
     --><div id="action_plans">
          <h3>Action Plan Tasks (The Que)</h3>
          <input type="checkbox">Katrina's Birthday
        </div>
        <div id="notes_docs">
          <h3>Upcomming Reminders</h3>
          <input type="checkbox">Patrick's Birthday <span class="alert">4 days</span>
        </div>
     
      </div>