  		<div ng-controller="Main">
			<div id="collage">
				<a ng-repeat="person in contacts" ng-href="#/contact/{{person._id}}"><!--
					--><img class="image" ng-src="{{person.picture}}"><!--
				--></a>
	        </div>
	        <div id="action_plan_tasks">
	          <h3>Action Plan Tasks (The Que)</h3>
	          <input type="checkbox">Katrina's Birthday
	          <p ng-repeat="task in tasks" ng-bind="task[i].name"></p>
	        </div>
	        <div id="upcoming_reminders">
	          <h3>Upcomming Reminders</h3>
	          <input type="checkbox">Patrick's Birthday <span class="alert">4 days</span>
	        </div>
	    </div>