 		<div ng-controller="Main">
			<div id="collage">
				<div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div><div class="image"></div>
	        </div>
	        <div id="action_plan_tasks">
	          <h3>Action Plan Tasks (The Que)</h3>
	          <input type="checkbox">Katrina's Birthday
	        </div>
	        <div id="upcoming_reminders">
	          <h3>Upcomming Reminders</h3>
	          <input type="checkbox">Patrick's Birthday <span class="alert">4 days</span>
	        </div>
	    </div>