 		<div id="new_contact" ng-controller="NewContact">
          <h1>Add A New Contact</h1>
          <form ng-submit="addContact()">
            <input type="text" ng-model="new_contact.first_name" placeholder="Contact First Name">
            <input type="text" ng-model="new_contact.last_name" placeholder="Contact Last Name">
            <input type="text" ng-model="new_contact.phone" placeholder="Contact Phone Number">
            <input type="submit" value="Add">
            <p ng-repeat="error in errors" ng-bind="error.message"></p>
          </form>
        </div>