<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>
  <script type="text/javascript" src="/javascripts/controllers.js"></script>
  <script type="text/javascript" src="/javascripts/factories.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body ng-app="dashboard">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <div id="container">
    <div id="content">
      <div ng-view="">        
      </div>
    </div><!-- Comment to remove space
 --><div id="contacts" ng-controller="Contacts">
    	<h1>Contacts</h1>
      <h4>Display</h4>
      <ul>
    		<li><a href="#">All</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Groups</a></li>
      </ul>
      <h1 class="letter">A</h1>
      <div class="contact_list" ng-repeat="contact in contacts | orderBy: 'first_name'" ng-click="view_contact(contact.id)">
        <img class="contact_list" ng-src="{{contact.picture}}" ng-alt="contact.first_name">
        <a ng-href="#contact">
          <p class="contact_list" ng-bind="contact.first_name+' '+contact.last_name"></p>
        </a>
      </div>
      <!-- Letter for each name will pop up here with contacts that start with that letter below -->
      <!-- Letters will be links to the letter menu and can take you to that letter from there -->
      <!-- all contact info will be a link to that contact -->
      <h1 class="letter">B</h1>
      <div class="contact_list">
        <img class="contact_list" ng-src="/images/test.jpg">
        <p class="contact_list">Contact Name</p>
      </div>
      <h1 class="letter">C</h1>
      <h3>Add New Contact</h3>
      <form ng-submit="addContact()">
        <input type="text" ng-model="new_contact.first_name" placeholder="Contact First Name">
        <input type="text" ng-model="new_contact.last_name" placeholder="Contact Last Name">
        <input type="submit" value="Add">
        <p ng-repeat="error in errors" ng-bind="error.message"></p>
      </form>
    </div>
  </div>
</body>
</html>
